.App {
  min-height: 100vh;
  display: flex;
  background: url("./assets/mediamodifier-nCk22aqZjlM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  overflow: "hidden";
}

.background {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  width: 50%;
  display: flex;
  margin: 3% auto;
  padding: 2%;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .background {
    width: 100%;
  }
}
